.heading {
    background-image: url("../img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
h1 {text-align: center; color: #f5f1f1;}
h2 {text-align: center;}
h6 {text-align: center; color: #f8f5f5;}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
img.mouse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2%;
  }

p.a {text-align-last: center;}
.serv {
    background-image: url("../img/s_image.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}