.heading {
    background-image: url("../img/h_img.jpg") ;
    background-repeat: no-repeat;
    background-size: auto;
}
h1 {text-align: center; color: #f5f1f1;}
h2 {text-align: center;}
h6 {text-align: center; color: #f8f5f5;}
#servi {text-align-last: center; color: #f5f1f1;}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
img.mouse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2%;
  }

p.a {text-align-last: center;}
.serv {
    background-image: url("../img/s_image.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
.contactus {
    background-image: url(../img/c_image.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
}
form {
    box-shadow: #f5f1f1;
}

.column-s {
    float: right;
    width: 8.33%;
    padding: 0.5px;
  }

.row-s::after {
    content: "";
    clear: both;
    display: table;
}
.center {
    margin: auto;
    width: 80%;
    padding: 100px;
  }
footer {
    text-align: center;
    padding: 3px;    
  }